<!doctype html>
<html ng-app="feed">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Vagabond</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/reset.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.3/semantic.min.css"> -->
    <link rel="stylesheet" href="lib/semantic-ui/dist/semantic.min.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.3/semantic.min.js"></script>
    <script src="js/feed.js"></script>
    <script src="js/main.js"></script>

</head>
<body ng-controller="mainController">
	<div class="ui grid">
		<div class="center aligned one column row">
			<div class="column">
				<div class="ui segment">
					<div ng-include="" src="'partials/navbar.html'"></div>
					<h1>Number of Places: <span class="">{{ places.length }}</span></h1>

					<!-- <div id="place-list" class="row">
					    <div class="col-sm-4 col-sm-offset-4">

					        <div class="checkbox" ng-repeat="place in places">
					            <label>
					                <input type="checkbox" ng-click="deletePlace(place._id)"> {{ place.text }}
					            </label>
					        </div>

					    </div>
					</div> -->

					<br>

					<div class="ui action left icon input">
					  <i class="search icon"></i>
					  <input type="text" placeholder="Filter..." ng-model="query">
					</div>

					<div class="ui action input">
					  <input type="text" placeholder="Add a place..." ng-model="formData.text">
					  <div class="ui green button" ng-click="createPlace()">Add</div>
					</div>


					<h1>Feed</h1>
					<ul class="feed">
						<li ng-repeat="place in places | filter: query">
							<label>
				                <input type="checkbox" ng-click="deletePlace(place._id)"> {{ place.text }}
				            </label>
							
						</li>
					</ul>

					
				</div>
			</div>
		</div>
	</div>
</body>
</html>