<!-- <div class="">
    <ul class="" ng-hide="currentUser">
        <li><a href="/login">Log In</a></li>
        <li><a href="/signup">Sign up</a></li>
    </ul>
    <ul class="" ng-show="currentUser">
        <li class="">
            <a class="">Welcome, {{ currentUser.username }} <b class="caret"></b></a>
            <ul class="">
                <li><a ng-click="logout()"><span class=""></span> Logout</a></li>
            </ul>
        </li>
    </ul>
</div> -->

<h1>Vagabond</h1>
<h2>Welcome, {{ loginInfo.displayName }}</h2>   