<!doctype html>
<html ng-app="main">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Vagabond</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="lib/semantic-ui/dist/components/reset.css">
    <link rel="stylesheet" href="lib/semantic-ui/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="lib/semantic-ui/dist/components/dropdown.css">
    <link rel="stylesheet" type="text/css" href="lib/semantic-ui/dist/components/menu.min.css">
    <link rel="stylesheet" type="text/css" href="lib/semantic-ui/dist/components/card.min.css">
    <link rel="stylesheet" type="text/css" href="lib/semantic-ui/dist/components/grid.min.css">
    <link rel="stylesheet" type="text/css" href="lib/semantic-ui/dist/components/site.min.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.3/semantic.min.js"></script>
    <script type="text/javascript" src="lib/semantic-ui/dist/components/dropdown.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>

    <script src="js/main.js"></script>

</head>
<body ng-controller="mainController">
	<div class="ui grid">

		<div class="center aligned one column row">
			<div class="column">
				<div class="ui segment">
					<div class="ui secondary menu">
					  <div class="header item"><a style="color: black;" href="/">Vagabond</a></div>
					  <div class="active item"><a style="color: black;" href="/">Home</a></div>
					  
					  <div class="right menu">
					    <div class="item">
					      <div class="ui action left icon input">
					        <i class="search icon"></i>
					        <input type="text" placeholder="Search" ng-model="query">
					        <button class="ui button" disabled="">Add</button>
					      </div>
					    </div>
					    <div class="ui dropdown item">
					      <img src="https://graph.facebook.com/{{ loginInfo.id }}/picture?height=25&width=25"/> 
					      &nbsp;
					      {{ loginInfo.displayName }}
					      <i class="dropdown icon"></i>
					      <div class="menu">
					        <a href=""><div class="item"><i class="users icon"></i> Requests</div></a>
					        <a href="/profile"><div class="item"><i class="users icon"></i> Profile</div></a>
					        <!-- <div class="divider"></div> -->
					      </div>
					    </div>
					  </div>
					</div>

					
					
					<!-- <div ng-include src="'partials/navbar.html'"></div> -->


					


					<h1>Number of Places: <span class="">{{ places.length }}</span></h1>
					<form class="ui form" id="userform">
					    <div class="field">
					      <div class="three fields">
					        <div class="field">
					          <input type="text" id="placeName" ng-model="place.name" placeholder="Place"> 
					        </div>
					        <div class="field">
					          <input type="text" ng-model="place.reason" placeholder="Why">
					        </div>
					        <div ng-click="addPlace()" class="ui submit button">Add</div> 
					        

					      </div>

					  </div>
					  
					</form>

					<br>
					
					<div class="ui link cards" >
					  <div class="card" ng-repeat="place in places | filter: query">
					    <div class="image">
					      <img src="https://graph.facebook.com/{{ place.requester.facebookId }}/picture?height=400&width=400">
					    </div>
					    <div class="content">
					      <div class="header">{{ place.requester.name }}</div>
					      <div class="meta">
					        <a>Friends</a>
					      </div>
					      <div class="description">
					        {{ place.reason }}
					      </div>
					    </div>
					    <div class="extra content">
					      <span class="right floated">
					        Time Since Posted
					      </span>
					      <span class="left floated">
					        <i class="user icon"></i>
					        Mutual Friends
					      </span>
					    </div>
					  </div>
					  
					  
					</div>
					


					<br>

					

					
				</div>

			</div>
		</div>
	</div>
</body>
<script>
	 function initialize() {
        var input = ( document.getElementById('placeName'));
        var autocomplete = new google.maps.places.Autocomplete(input);
      }

        google.maps.event.addDomListener(window, 'load', initialize);
</script>
</html>