<!doctype html>
<html ng-app="main">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Vagabond</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="lib/semantic-ui/dist/components/reset.css">
    <link rel="stylesheet" href="lib/semantic-ui/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="lib/semantic-ui/dist/components/dropdown.css">
    <link rel="stylesheet" type="text/css" href="lib/semantic-ui/dist/components/menu.min.css">
    <link rel="stylesheet" type="text/css" href="lib/semantic-ui/dist/components/card.min.css">
    <link rel="stylesheet" type="text/css" href="lib/semantic-ui/dist/components/grid.min.css">
    <link rel="stylesheet" type="text/css" href="lib/semantic-ui/dist/components/site.min.css">


    <script src="lib/jquery/dist/jquery.min.js"></script>

    <script src="lib/moment/min/moment.min.js"></script>
    
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.3/semantic.min.js"></script>
    <script type="text/javascript" src="lib/semantic-ui/dist/components/dropdown.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>

    <script src="js/main.js"></script>

    <style>
    .add-place-modal {
    	padding: 20px;
    }
    #banner-container {
    	background: url('https://download.unsplash.com/photo-1428263197823-ce6a8620d1e1');
    	background-size: cover;
    	background-attachment: fixed;
    	padding-top: 4em;
    	margin-bottom:45px;
    }
    .ui.text.container {
      max-width: 950px !important;
    }

    div.ui.borderless.main.menu {
    	background-color: transparent;
    }
    .ui.borderless.main.menu.fixed {
    	background-color: white;
    }
    
    .main.menu {
      /*margin-top: 0em;*/
      border-radius: 0;
      border: none;
      box-shadow: none;
      transition:
        box-shadow 1s ease-in-out,
        padding 1s ease-in-out,
        background 0.25s ease-in-out
      ;
    }
    .main.menu .item img.logo {
      margin-right: 1.5em;
    }
    .navbar {
    	box-shadow: 1px 1px whitesmoke;
    	background-color: white;
    	padding: 10px;
    	border-radius:50px;
    	margin-bottom:-40px;
    }

    </style>

</head>
<body ng-controller="mainController">

	

	<div id="banner-container">

		


		<div class="ui borderless secondary menu">
		  <div class="ui text container navbar">
		    <div href="#" class="header item">
		      <img class="logo" src="img/logo.png">
		      Vagabond
		    </div>
		    <a href="#" class="item">Feed</a>
		    <div class="right menu">
		      <div class="ui dropdown item">
		        My Profile
		        
		        
		        <i class="dropdown icon"></i>
		        <div class="menu">
		        	<a href="">
			        	<div class="item" style="padding: 5px;">
		        			<img src="https://graph.facebook.com/{{ loginInfo.fb.id }}/picture?height=40&width=40"/> 

		        			&nbsp;<b>{{ loginInfo.fb.name.givenName }}</b>
			        			
			        		
			        		
			        	</div>
			        </a>
		        	<div class="divider"></div>
		          	<a href=""><div class="item"><i class="send icon"></i> Requests</div></a>
		          	<a href="/profile"><div class="item"><i class="users icon"></i> View Profile</div></a>
		          	<a href="/profile-edit"><div class="item"><i class="users icon"></i> Edit Profile</div></a>
		          	<a href="/logout"><div class="item"><i class="power icon"></i> Logout</div></a>
		          	
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
	</div>

	<br>

	<div class="ui text container">
				
		<!-- <div ng-include src="'partials/navbar.html'"></div> -->
		
		<form name="placeForm" class="ui form">
			<div class="four fields" style="">

			    
			    <button ng-click="addPlaceModal()" class="ui labeled icon button">
			      <i class="plus icon"></i>
			      Add a Place
			    </button>
			    <div class="field">
			    	<div class="ui search">
			    	  <div class="ui icon input">
			    	    <input class="prompt" type="text" placeholder="Search places..." ng-model="query">
			    	    <i class="search icon"></i>
			    	  </div>
			    	  <div class="results"></div>
			    	</div>
			    </div>
			    <div class="inline field">
			      	<select ng-model="orderProp" class="ui search dropdown" >
				      	<option value="-time">Most Recent</option>
				      	<option value="time">Least Recent</option>
				      	<option value="name">Name of Place</option>
				      	<option value="">Mutual Interests</option>
			    	</select>
			    	<label><b>&nbsp;{{ (places | filter: query).length }}</b> Results</label>
			    </div>
			    <!-- <div class="field">
		          <div class="ui toggle checkbox">
		            <input type="checkbox" name="" tabindex="0" class="hidden">
		            <label>Ride Share</label>
		          </div>
			    </div> -->

			    <div class="ui modal add-place-modal" aria-hidden="true">
			    	<div class="ui fluid form">
			    		<h4 class="ui dividing header">Add a Place</h4>
			    	  	<div class="two fields">
				    	  	<div class="required field">
				    	      <label>Traveling From:</label>
				    	      <input type="text" placeholder="Starting Place"> 
				    	    </div>
				    	    <div class="required field">
				    	      <label>To:</label>
				    	      <input type="text" id="placeName" ng-model="place.name" placeholder="Destination"> 
				    	    </div>
			    	 	</div>
			    	  	<div class="required field">
			    	      	<label>Reason</label>
			    	      	<input type="text" ng-model="place.reason" placeholder="Why">
			    	      	
			    	    </div>
			    	    <a href="#" ng-click="addPlace()">
			    	    	<div class="ui submit button">Submit</div>
			    	    </a>
				    	  
			    	</div>
			    	
			    </div>
			    <!-- <div ng-click="addPlace()" class="ui submit button">Add</div>  -->
			    
				
			</div>
			
		</form>

		<br>
		
		<div class="ui link cards" >
		  <div class="card" ng-repeat="place in places | filter: query | orderBy: orderProp " ng-click="seePlace(place)">
		    <div class="image">
		      <img src="https://graph.facebook.com/{{ place.requester.facebookId }}/picture?height=500&width=600">
		    </div>
			    <div class="content">
			      <div class="header">{{ place.name }}</div>
			      <div class="meta">
			        <a>{{ place.requester.name }}</a>
			      </div>
			      <div class="description">
			        {{ place.reason }}
			      </div>
			    </div>
			    <div class="extra content">
			      <span class="right floated">
			        {{ moment(place.time) }}
			      </span>
			      <span class="left floated">
			        <i class="money icon"></i>
			        Price
			      </span>
			    </div>

			    <div class="ui modal card-modal" aria-hidden="true">
			    	<div class="item">
			    	<div class="header">
			    		{{ modalData.fb._json.name }}
			    		<div class="image content">
			    			<div class="ui medium image">
			    		 		<img src="https://graph.facebook.com/{{ modalData.fb.id }}/picture?height=500&width=600">
			    		 	</div>
			    		 	<div class="description">
				    		 	Occupation: {{ modalData.occupation }} <br>
				    		 	Biography: {{ modalData.biography }} <br> 
				    		 	Interests: {{ modalData.interests }} <br>
				    		 </div>
			    		</div>
			    		<div class="actions">
			    			<div class="ui black deny button"> Done </div>
			    			<div class="ui positive button" ng-click="sendRequest()"> Bond </div>
			    		</div>
			    	</div>
			    	</div>
			    </div>
		  </div>		  
		</div>
		<br>

				

				



	</div>
</body>

</html>