<!doctype html>
<html ng-app="profile">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Vagabond | Profile</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="lib/semantic-ui/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="lib/semantic-ui/dist/components/dropdown.css">
    <link rel="stylesheet" type="text/css" href="lib/semantic-ui/dist/components/menu.min.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.3/semantic.min.js"></script>
    <script type="text/javascript" src="lib/semantic-ui/dist/components/dropdown.js"></script>
    <script src="lib/moment/min/moment.min.js"></script>
    <script src="js/profile.js"></script>


</head>
<style>

  .tab-body {
    padding: 20px;
  }
  #banner-container {
    background: url('https://download.unsplash.com/photo-1428263197823-ce6a8620d1e1');
    background-size: cover;
    background-attachment: fixed;
    padding-top: 4em;
    margin-bottom:100px;
  }
  .ui.text.container {
    max-width: 950px !important;
  }

  div.ui.borderless.main.menu {
    background-color: transparent;
  }
  .ui.borderless.main.menu.fixed {
    background-color: white;
  }
  
  .main.menu {
    /*margin-top: 0em;*/
    border-radius: 0;
    border: none;
    box-shadow: none;
    transition:
      box-shadow 1s ease-in-out,
      padding 1s ease-in-out,
      background 0.25s ease-in-out
    ;
  }
  .main.menu .item img.logo {
    margin-right: 1.5em;
  }
  .navbar {
    box-shadow: 1px 1px whitesmoke;
    background-color: white;
    padding: 10px;
    border-radius:50px;
    margin-bottom:-40px;
  }

</style>
<body ng-controller="ProfileController">
  <div id="banner-container">

    <div class="ui borderless secondary menu">
      <div class="ui text container navbar">
        <div href="#" class="header item">
          <img class="logo" src="img/logo.png">
          Vagabond
        </div>
        <a href="/main" class="item">Feed</a>
        <div class="right menu">
          <div class="ui dropdown item">
            My Profile
            <i class="dropdown icon"></i>
            <div class="menu">
              <a href="">
                <div class="item" style="padding: 5px;">
                  <img src="https://graph.facebook.com/{{ user.fb.id }}/picture?height=40&width=40"/> 

                  &nbsp;<b>{{ user.fb.name.givenName }}</b>
                    
                  
                  
                </div>
              </a>
              <div class="divider"></div>
                <a href=""><div class="item"><i class="send icon"></i> Requests</div></a>
                <a href="/profile"><div class="item"><i class="users icon"></i> View Profile</div></a>
                <a href="/logout"><div class="item"><i class="power icon"></i> Logout</div></a>
                
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


   
    <div class="ui text container" style="margin-bottom: 20px;">
      <div class="ui items">
        <div class="ui item">
          <div class="image">
            <img class="ui image" src="https://graph.facebook.com/{{ user.fb.id }}/picture?height=400&width=400">
          </div>
          <div class="content">
            <a class="header">{{ user.fb._json.first_name }} {{ user.fb._json.last_name }}</a>
            <div class="meta">
              <span class="cinema">{{ user.occupation }}</span>
            </div>
            <div class="description">

              <div class="ui list">
                <div class="item">
                  <i class="marker icon"></i>
                  <div class="content">
                    {{ user.city }}, {{ user.state }}
                  </div>
                </div>
                <div class="item">
                  <i class="mail icon"></i>
                  <div class="content">
                    <a href="mailto:{{ user.fb._json.email }}">{{ user.fb._json.email }}</a>
                  </div>
                </div>
                <div class="item">
                  <i class="linkify icon"></i>
                  <div class="content">
                    <a href="">personalwebsite.com</a>
                  </div>
                </div>
                <div class="item">
                  <i class="thumbs outline up icon"></i>
                  <div class="content">
                    <button class="ui small button" style="padding: 6px; margin-right: 4px;" ng-repeat="interest in user.interests">
                      {{ interest }}
                    </button>
                  </div>
                </div>
                <div class="item">
                  <div class="ui right floated gray button" ng-click="editProfileModal()">
                    Edit Profile
                    <i class="right pencil icon"></i>
                  </div>

                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui text container">
      <div id="menu" class="ui pointing three item secondary menu">
        <a class="item active" data-tab="about">About</a>
        <a class="item" data-tab="requests">Requests</a>
        <a class="item" data-tab="messages">Messages</a>
        <!-- <a class="item" data-tab="gallery">Gallery</a>
        <a class="item" data-tab="calendar">Calendar</a> -->
      </div>
    </div>
    
    
    <div class="ui text container">
      <div class="ui tab active" data-tab="about">
        <div class="tab-body">
          {{ user.biography }}
        </div>
        
      </div>
      <div class="ui tab" data-tab="requests">
        <div class="tab-body">
          <div class="ui items">
            <div class="item" ng-repeat="request in requests">
              <div class="content">
                <a class="header"> {{ request.name }} </a>
                <div class="meta">
                  <span>{{ moment(request.time) }}</span>
                </div>
                <div class="description">
                  <p>{{ request.reason }}</p>
                </div>
                <div class="extra">
                  <div class="ui horizontal list">
                    <div class="item" ng-repeat="person in request.interestedPeople">
                      <img class="ui mini circular image" src="https://graph.facebook.com/{{ person }}/picture?height=125&width=125">
                      <div class="content">
                        <div class="ui sub header">Sridatt </div>
                        Description
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="ui tab" data-tab="messages">
      Messages
      </div>
      <!-- <div class="ui tab" data-tab="gallery"> Gallery</div>
      <div class="ui tab" data-tab="calendar"> Calendar</div> -->
    </div>

    <div class="ui modal edit-profile-modal">
      <i class="close icon"></i>

      <div class="header">
        Edit Profile
      </div>

      <div class="ui fluid form" style="padding: 25px;">

          <div class="four fields">
            <div class="field">
              <label>Name</label>
              <div class="two fields">
                <div class="field">
                  <input id="firstname" type="text" disabled ng-model="user.fb._json.first_name" name="first-name" placeholder="First Name"> 
                </div>
                <div class="field">
                  <input id="lastname" type="text" disabled ng-model="user.fb._json.last_name" name="last-name" placeholder="Last Name"> 
                </div>
              </div>
            </div>
            <div class="field">
              <label>Gender</label>
                <select ng-model="user.fb.gender" class="ui search dropdown">
                  <option value="">Gender</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                  <option value="other">Other</option>
                </select>
            </div>
            <div class="field">
              <label>Age</label>
              <input id="age" type="number" ng-model="user.age" name="age" placeholder="Age">
            </div>
            <div class="field">
              <label>Occupation</label>
              <input id="occupation" type="text" ng-model="user.occupation" name="occupation" placeholder="Occupation">
            </div>
          </div>
          <div class="three fields">

            <div class="field">
              <label>Email</label>
              <input id="email" type="email" ng-model="user.email" name="email" placeholder="Email">
            </div>
            <div class="field">
              <label>City</label>
              <input type="text" ng-model="user.city" name="city" placeholder="City">
            </div>
            <div class="field">
              <label>State</label>
              <select ng-model="user.state" class="ui search dropdown">
                <option value="">State</option>
                <option value="AL">Alabama</option>
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>  
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="DC">District Of Columbia</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
              </select>
            </div>
          </div>
          <div class="field">
            <label>Biography</label>
            <textarea ng-model="user.biography"></textarea>
          </div>
          <div class="field">
            <label>Interests</label>
            <textarea ng-model="user.interests" placeholder="1-2 word interests, separated by commas"></textarea>
          </div>
      </div>
      <div class="actions">
        <div class="ui cancel button">Cancel</div>
        <div ng-click="saveProfile()" class="ui green submit button">Save</div>
      </div>
      
    </div>




</body>
  <script type="text/javascript">
    $(document).ready(function(){
        $('.menu .item').tab();
    })
    </script>
</html>
