<<!DOCTYPE html>
<html ng-app="profile-edit">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.3/semantic.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>

    <script type="text/javascript" src="js/profile-edit.js"></script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>

<head>
	<title>Vagabond | Edit Profile</title>
</head>
<body ng-controller="ProfileEditController">
	<a href="/profile"> Back to Profile </a>
	<div class="ui two column centered grid">
	<div class="column">
	<form class="ui form" id="userform">
	  <h4 class="ui dividing header">Personal Information</h4>
	  <div class="two fields">
	    <div class="field">
	      <label>Name</label>
	      <div class="two fields">
	        <div class="field">
	          <input id="firstname" type="text" disabled ng-model="user.firstName" name="first-name" placeholder="First Name"> 
	        </div>
	        <div class="field">
	          <input id="lastname" type="text" disabled ng-model="user.lastName" name="last-name" placeholder="Last Name"> 
	        </div>
	      </div>
	    </div>
	    <div class="field">
	      <label>Gender</label>
		      <select ng-model="user.fb.gender" class="ui search dropdown">
		      	<option value="">Gender</option>
		      	<option value="male">Male</option>
		      	<option value="female">Female</option>
		      	<option value="other">Other</option>
		      </select>
	    </div>
	    <div class="three fields">
	    	<div class="field">
	    		<label>Occupation</label>
	    		<input id="occupation" type="text" ng-model="user.occupation" name="occupation" placeholder="Occupation">
	    	</div>
		    <div class="field">
		    	<label>Email</label>
		    	<input id="email" type="email" ng-model="user.email" name="email" placeholder="Email">
		    </div>
		    <div class="field">
		    	<label>Age</label>
		    	<input id="age" type="number" ng-model="user.age" name="age" placeholder="Age">
		    </div>
	    </div>
	  </div>
	  <label>Location</label>
	  <div class="two fields">
	  	<div class="field">
	          <input type="text" ng-model="user.city" name="city" placeholder="City">
	    </div>
	    <div class="field">
	      <select ng-model="user.state" class="ui search dropdown">
	        <option value="">State</option>
	        <option value="AL">Alabama</option>
	        <option value="AL">Alabama</option>
	        <option value="AK">Alaska</option>	
	        <option value="AZ">Arizona</option>
	        <option value="AR">Arkansas</option>
	        <option value="CA">California</option>
	        <option value="CO">Colorado</option>
	        <option value="CT">Connecticut</option>
	        <option value="DE">Delaware</option>
	        <option value="DC">District Of Columbia</option>
	        <option value="FL">Florida</option>
	        <option value="GA">Georgia</option>
	        <option value="HI">Hawaii</option>
	        <option value="ID">Idaho</option>
	        <option value="IL">Illinois</option>
	        <option value="IN">Indiana</option>
	        <option value="IA">Iowa</option>
	        <option value="KS">Kansas</option>
	        <option value="KY">Kentucky</option>
	        <option value="LA">Louisiana</option>
	        <option value="ME">Maine</option>
	        <option value="MD">Maryland</option>
	        <option value="MA">Massachusetts</option>
	        <option value="MI">Michigan</option>
	        <option value="MN">Minnesota</option>
	        <option value="MS">Mississippi</option>
	        <option value="MO">Missouri</option>
	        <option value="MT">Montana</option>
	        <option value="NE">Nebraska</option>
	        <option value="NV">Nevada</option>
	        <option value="NH">New Hampshire</option>
	        <option value="NJ">New Jersey</option>
	        <option value="NM">New Mexico</option>
	        <option value="NY">New York</option>
	        <option value="NC">North Carolina</option>
	        <option value="ND">North Dakota</option>
	        <option value="OH">Ohio</option>
	        <option value="OK">Oklahoma</option>
	        <option value="OR">Oregon</option>
	        <option value="PA">Pennsylvania</option>
	        <option value="RI">Rhode Island</option>
	        <option value="SC">South Carolina</option>
	        <option value="SD">South Dakota</option>
	        <option value="TN">Tennessee</option>
	        <option value="TX">Texas</option>
	        <option value="UT">Utah</option>
	        <option value="VT">Vermont</option>
	        <option value="VA">Virginia</option>
	        <option value="WA">Washington</option>
	        <option value="WV">West Virginia</option>
	        <option value="WI">Wisconsin</option>
	        <option value="WY">Wyoming</option>
	      </select>
	    </div>
	    <div class="field"></div>
	  </div>
	  <div class="field">
	    <label>Biography</label>
	    <textarea ng-model="user.biography"></textarea>
	  </div>
	   <div class="field">
	    <label>Interests</label>
	    <textarea ng-model="user.interests" placeholder="1-2 word interests, separated by commas"></textarea>
	  </div>
	  <div ng-click="onSave()" class="ui submit button">Save</div>
	  <div id="saveMsg" class="ui floating message">
		  <p>Saved successfully.</p>
	  </div>
	</form>
	</div>
	</div>
</body>
	<script>
		
	</script>
</html>