<!doctype html>
<html ng-app="profile">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Vagabond | Profile</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="lib/semantic-ui/dist/semantic.min.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.3/semantic.min.js"></script>
    <script src="js/profile.js"></script>

</head>
<body ng-controller="ProfileController">
    <h2 class="ui center aligned icon header">
      <div class="center item">
          <img class="ui center circular image" style="display: inline;" src="https://graph.facebook.com/{{ user.id }}/picture?height=125&width=125">
          <div class="content">
            <div class="ui sub header">{{ user.occupation }}</div>
            {{ user.firstName }} {{ user.lastName }}
          </div>
          <a href="/profile-edit">Edit Profile</a>

        </div>
    </h2>
</body>