<!doctype html>
<html ng-app="profile">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Vagabond | Profile</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="lib/semantic-ui/dist/semantic.min.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.3/semantic.min.js"></script>
    <script src="js/profile.js"></script>

</head>
<style>
  #menu {
    z-index: -1;
  }

  img {
    z-index: 1;
  }

</style>
<body ng-controller="ProfileController">
    <h2 class="ui center aligned icon header">
      <div class="center item">
          <img class="ui center circular image" style="display: inline;" src="https://graph.facebook.com/{{ user.id }}/picture?height=125&width=125">
          <div class="content">
            <div class="ui sub header">{{ user.occupation }}</div>
            {{ user.firstName }} {{ user.lastName }}
          </div>
        </div>
    </h2>
    
    <div id="menu" class="ui pointing four item menu">
      <a class="item active" data-tab="about">About</a>
      <a class="item" data-tab="bonds">Bonds</a>
      <a class="item" data-tab="gallery">Gallery</a>
      <a class="item" data-tab="calendar">Calendar</a>
    </div>

    <div class="ui tab" data-tab="home"> 
    Home
    </div>
    <div class="ui tab" data-tab="about">
      <div class="ui item">
      <a href="/profile-edit">Edit Profile</a> <br>
        {{ user.firstName }} {{user.lastName }} <br>
        {{ user.city }}, {{ user.state }} <br>
        Bio: {{ user.biography }} <br>
        Interests: {{ user.interests }} 
      </div>
    </div>
    <div class="ui tab" data-tab="bonds">
    Bonds
    </div>
    <div class="ui tab" data-tab="gallery"> Gallery</div>
    <div class="ui tab" data-tab="calendar"> Calendar</div>


</body>
  <script type="text/javascript">
  $(document).ready(function(){
      $('.menu .item').tab();
  })
    </script>
</html>
